@charset "UTF-8";
/* GLOBAL */
/* здесь используйте глобальные переменные */
/* здесь используйте глобальные селекторы img, body, html и так далее */
/* здесь подключите шрифты */
/* BLOCKS */
.header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}